body {
  background-image: url(./IMG/NATA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle1 {
  border-radius: 300px;
  width: 450px;
  height: 450px;
  background-color: #f5dd9d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#acai {
  margin-top: 20px;
  width: 500px;
  height: 400px;
}
.circle2 {
  position: absolute;
  top: 550px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle2 > a {
  background-color: #f5dd9d;
  border-radius: 200px;
  text-decoration: none;
  color: #506266;
  padding: 7px;
  font-family: "Archivo Black", sans-serif;
  font-size: 22px;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@media (max-width: 425px) {
  body {
    background-image: url(./IMG/NATALphone.jpg);
    min-height: 100%;
    min-width: 100%;
  }
  #acai {
    width: 400px;
    height: 300px;
  }
  .circle1 {
    border-radius: 300px;
    width: 350px;
    height: 350px;
  }
  .circle2 {
    position: absolute;
  }
}
@media (max-width: 375px) {
  body {
    background-image: url(./IMG/NATAMphone.jpg);
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
  }
  #acai {
    width: 400px;
    height: 300px;
  }
  .circle1 {
    border-radius: 300px;
    width: 350px;
    height: 350px;
  }
  .circle2 {
    position: absolute;
  }
}
